/*******************************************************************************************************/
/*****************************************global styles*************************************************/
/*******************************************************************************************************/
* {
  box-sizing: border-box;
  user-select: none;
  margin: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f3f0ec;
  overflow: hidden;
  font-family: "Roboto-Regular", Arial, sans-serif;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}
/*******************************************************************************************************/
/***************************************End global styles***********************************************/
/*******************************************************************************************************/
