/*******************************************************************************************************/
/******************************************footer styles************************************************/
/*******************************************************************************************************/
footer {
    width: 99.5%;
    height: 5vmin;
    background-color: rgba(85, 136, 170, 0.7);
    background-image: linear-gradient(to right, white 10%, #9fbccf 20%, #5588aa 50%, #9fbccf 80%, white 90%);
    border: 2px solid #5c8dae;
    box-shadow: 3px 3px 5px #5c8dae;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    font-size: calc(0.3rem + 0.5vw);
    text-shadow: 1px 1px 1px black;
    cursor: not-allowed;
}
footer .container1 {
    height: 100%;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer .container1 span {
    margin: 0;
}
footer .container2 {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

footer .container2 div {
    width: 4.5vmin;
    height: 4.5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

footer .container2 img {
    width: 4.5vmin;
    height: auto;
    border-radius: 50%;
    margin: 0 0.5vmin;
    transition: ease 0.15s all;
    animation: none;
}
footer .container2 img:hover {
    cursor: pointer;
}
footer .container2 img:active {
    width: 4vmin;
    height: auto;
    animation: none;
}
/*******************************************************************************************************/
/****************************************End footer styles**********************************************/
/*******************************************************************************************************/